.unicus-card-header
{
    color: rgba(0, 0, 0, 0.9);
    font-size: 28px;
}


.unicus-btn-border-radius
{
    border-radius: 5px ;
}

.unicus-field .v-text-field
{
    font-size: 14px
}

.unicus-field .v-text-field--outline .v-input__control > .v-input__slot
{
    border: 1px solid rgba(176, 189, 190, 0.54)!important;
}

.unicus-field.has-error .v-text-field--outline .v-input__control > .v-input__slot
{
    border: 1px solid #ff5252!important;
}

.unicus-field.has-error .v-input__control  .v-label
{
    color:#ff5252 ;
}

.unicus-hr-shadow
{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subheading
{
    font-family: 'Museo Sans Cyrl 900';
    font-size: 17px;
}

.body-2
{
    font-family: 'Museo Sans Cyrl';
    font-size: 17px;
}
