$font-sizes := {
  body: 14px,
  title-small:  14px,
  title: 17px,
  btn: 20px,
  bigheader: 28px,
}


$body-font-size = 14px;
$title-small-font-size = 14px;
$title-font-size = 17px;
$big-header-font-size = 28px;

$fonts := {
  open-sans :"Open Sans",
  museo-900 :"Museo Sans Cyrl 900",
  museo-700 :"Museo Sans Cyrl 700",
  museo-500 :"Museo Sans Cyrl 500",
  museo-300 :"Museo Sans Cyrl 300",
  museo-100 :"Museo Sans Cyrl 100"
}

$colors := {
  main: #7795f8,
  error: #ff5252,
  input-border: #e5e5e5,
  head: #ecf4f7
}

$radius := {
  btn: 5px,
  card: 8px
}

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

border-shadow()
  vendor('border-shadow', arguments)



