$body-font-size = 14px;

@font-face
  font-family "Open Sans"
  font-style normal
  src url(../fonts/opensans/opensans.ttf)

$font-open-sans = "Open Sans"
$font-museo-900 = "Museo Sans Cyrl 900"
$font-museo-500 = "Museo Sans Cyrl 500"
$font-museo-100 = "Museo Sans Cyrl 100"