@import '~vuetify/src/stylus/settings/_variables';
@import '_variables.styl';

$body-font-family = $fonts.open-sans;
$font-size-root = $font-sizes.body;
$headings.subheading.size = $font-sizes.title;

@import '~vuetify/src/stylus/main.styl';