.unicus-btn-border-radius
  border-radius($radius.btn)


.unicus-btn
  font-family: $fonts.museo-700;
  font-size: $font-sizes.btn;
  line-height: $font-sizes.btn;
  height: 63px;
  border-radius($radius.btn)
  text-transform: none
  border-width: 2px!important