.unicus-btn-border-radius
  border-radius($radius.btn)


.unicus-btn
  font-family: $fonts.museo-700;
  font-size: $font-sizes.btn;
  line-height: $font-sizes.btn;
  height: 63px;
  border-radius($radius.btn)
  text-transform: none
  border-width: 2px!important

.unicus-group-btns-item
  font-size: $font-sizes.badge!important;
  margin: 0;
  padding: 10px;
  min-width: initial!important;

.unicus-group-btns-item.unicus-group-btns-item-active
  background-color: $colors.main;
  color: $colors.white;
  border-radius(5px)
  height 41px;


