.unicus-card
  border-radius($radius.card);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);

.unicus-card-header
  color: rgba(0, 0, 0, 0.9)
  font-size: $font-sizes.bigheader
  font-family: $fonts.museo-500