

.museo-900
  font-family: $fonts.museo-900;

.museo-700
  font-family: $fonts.museo-700;

.museo-500
  font-family: $fonts.museo-500;

.museo-300
  font-family: $fonts.museo-300;

.museo-100
  font-family: $fonts.museo-100;

.body-font-size
  font-size: $font-sizes.body

.title-small-font-size
  font-size: $font-sizes.title-small

.title-font-size
  font-size: $font-sizes.title

.big-header-font-size
  font-size: $font-sizes.bigheader