

.unicus-big-header
  font-family: $fonts.museo-500;
  font-size: $font-sizes.bigheader;

.unicus-title-black
  font-family: $fonts.museo-900;
  font-size: $font-sizes.title;

.unicus-title
  font-family: $fonts.museo-500;
  font-size: $font-sizes.title;

//form

.unicus-form-title
  font-family: $fonts.open-sans;
  font-size: $font-sizes.badge;
  color:$colors.label;
  padding:0 5px;

.unicus-form-medium-title
  font-family: $fonts.open-sans;
  font-size: $font-sizes.textfield;

.unicus-ts-name
  font-size: $font-sizes.ts;
  font-weight: 600;
  color: #4a4a4a;

.unicus-ts-prop
  font-size: $font-sizes.badge;
  font-weight: 300;
  color: #4a4a4a;
