.logo
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 9px;
  padding-left: 9px;
  background-image: url("../img/logo.png");

.logo-text
  color: #ffffff;
  font-size:$font-sizes.title
  font-family: $fonts.museo-300;
  text-transform: uppercase;