.unicus-field .v-select__slot .v-input__append-inner .v-icon
  color:$colors.main;

.v-select-list .v-list__tile
  font-size: $font-sizes.body!important;

.unicus-field .v-select__selection--comma
  margin: 7px 4px 0px 0!important;

.unicus-field.v-text-field--outline .v-select__selection--comma
  margin: 5px 4px 7px 0!important;

.unicus-field.v-text-field--outline .v-select__selection--comma
  font-size:$font-sizes.textfield;

.unicus-field.v-text-field--outline .v-select__selections
  padding-top 22px!important
