.unicus-container
  width: 900px!important;

.unicus-head
  height: 77px;

.unicus-btn-border-radius
  border-radius: 5px

.logo
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 9px;
  padding-left: 9px;
  background-image: url("../img/logo.png");

.logo-text
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;

.unicus-field-params
  width: 120px;
  .v-text-field
    padding-top: 0px!important;
    margin-top: 0px!important;

.unicus-field-dashed .v-text-field > .v-input__control > .v-input__slot:before
  border-style: dashed;

.unicus-field-dotted .v-text-field > .v-input__control > .v-input__slot:before
  border-style: dotted;

