.unicus-head
  height: 77px;

.unicus-btn-border-radius
  border-radius($radius.btn)

.logo
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 9px;
  padding-left: 9px;
  background-image: url("../img/logo.png");

.logo-text
  color: #ffffff;
  font-size:$font-sizes.title
  font-family: $fonts.museo-300;
  text-transform: uppercase;

.unicus-field-dashed .v-text-field > .v-input__control > .v-input__slot:before
  border-style: dashed;
  border-color: #7795f8

.unicus-field-dotted .v-text-field > .v-input__control > .v-input__slot:before
  border-style: dotted;

.unicus-card
  border-radius($radius.card)

.unicus-card-header
  color: rgba(0, 0, 0, 0.9)
  font-size: $font-sizes.bigheader
  font-family: $fonts.museo-500


.unicus-field .v-text-field
  font-size: $font-sizes.body

.unicus-field .v-text-field--outline .v-input__control > .v-input__slot
  border: 1px solid $colors.input-border!important;

.unicus-field.has-error .v-text-field--outline .v-input__control > .v-input__slot
  border: 1px solid $colors.error!important;

.unicus-field.has-error .v-input__control  .v-label
  color:$colors.error ;


.unicus-hr-header
  height: 3px;
  border-radius: 23px;
  background-image: linear-gradient(45deg, #c9d2ff 0%, #fac7ff 100%);

.unicus-hr-shadow
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

.museo-900
  font-family: $fonts.museo-900;

.museo-700
  font-family: $fonts.museo-700;

.museo-500
  font-family: $fonts.museo-500;

.museo-300
  font-family: $fonts.museo-300;

.museo-100
  font-family: $fonts.museo-100;

.body-font-size
  font-size: $font-sizes.body

.title-small-font-size
  font-size: $font-sizes.title-small

.title-font-size
  font-size: $font-sizes.title

.big-header-font-size
  font-size: $font-sizes.bigheader

.unicus-big-header
  font-family: $fonts.museo-500;
  font-size: $font-sizes.bigheader;

.unicus-title-black
  font-family: $fonts.museo-900;
  font-size: $font-sizes.title;

.unicus-title
  font-family: $fonts.museo-500;
  font-size: $font-sizes.title;

.unicus-btn
  font-family: $fonts.museo-700;
  font-size: $font-sizes.btn;
  line-height: $font-sizes.btn;
  height: 63px;
  border-radius($radius.btn)
  text-transform: none
  border-width: 2px!important

